body {
    font-family: Arial;
    background: #f2f2f2;
    margin:0;
}
 header{
    background: #111;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
 }
  nav a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
  }
  .box {
    width: 300px;
    background: white;
    padding: 20PX;
    margin: 80px auto;
    text-align: center;
  }
  input{
    width: 100%;
    padding: 10px;
    background: #00d8ff;
    border: none;
  }
  footer{
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: o;
    width: 100%;
  }